@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "width" 100;
}

.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #1a1a1a;
  color: #e5e5e5;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity));
}
